<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Form</title>
</head>
<body>
    <div>
        <form action="/update" method="POST">
            <input value="<%=sl%>" type="text" name="slup" />
            <input value="<%=ma%>" type="hidden" name="maup" />
            <button type="submit">Cap nhat so luong</button>
        </form>
    </div>
</body>
</html>